body{
    background: tan;
    font-family: Arial, Helvetica, sans-serif;
}

.assignment {
    display: flex;
    padding: 10px;
    margin: 10px;
    background:rgb(231, 137, 137);
}

.assignment img{
    width: 200px;
    padding: 10px;
}

h1{
    color: brown;
    text-align: center;
}
