body{
    background: tan
    font-family: Arial, Helvetica, sans-sertif;
}

.assignment{
    display:flex;
    padding: 10px;
    background: green;
}

.assignment img{
    width: 200px;
    padding: 10px;
}

h1{
    color: darkblue;
    text-align: center;
}
